body {
  background: #191b1b;
  background-size: contain;
  background-repeat: no-repeat;
  /* background-image: url("../images/darkcrystal-bg.jpg"); */
  color: #ffffff; 
}

#hero {
  color: #ffffff;
}